<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Hobbies</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h2>My Hobbies</h2>
    <div class="parent-container">
    <div class="container">
      <ul class="list">
        <li>Going to the gym</li>
        <li>Animals (Cats - my love!)</li>
        <li>Cooking (especially baking)</li>
        <li>Travelling</li>
        <li>Coding</li>
        <li>Painting</li>
      </ul>
      <img src="../public/images/hobby.jpg" alt="painting" height="200" class="hobbies-image" />
      <img src="../public/images/1.webp" alt="painting" height="200" class="hobbies-image" />
      <img src="../public/images/cat-tongue.gif" alt="painting" height="200" class="hobbies-image" />
      <img src="../public/images/photo_2024-06-07_12-18-21.jpg" alt="painting" height="200" class="hobbies-image" />
      <img src="../public/images/cat-gym.jpg" alt="painting" height="200" class="hobbies-image" />
  </div>
</div>
  </body>
</html>